/* Variables */
$columnAmount: 12;

/* ---------------- Layout ----------------- */
.container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.row{
  clear:both;
  width: 100%;
}

.col {
display:block;
float: left;
box-sizing: border-box;
max-height: auto;
}
/*   Anything Small than 768px  */
  @for $i from 1 through $columnAmount {
    .xsm-#{$i} {
      width: 100% / $columnAmount * $i;
    }
    .offset-xsm-#{$i}{
      margin-left: 100% / $columnAmount * $i;
    }
  }

/* Small Mobile Devices and Tablets */
@media screen and (min-width : 768px ) and (max-width : 991px) {
  @for $i from 1 through $columnAmount {
    .sm-#{$i} {
      width: 100% / $columnAmount * $i;
    }
    .offset-sm-#{$i}{
      margin-left: 100% / $columnAmount * $i;
    }
  }
}

/* Medium Sized Devices and Desktop */
@media screen and (min-width : 992px) and (max-width : 1199px) {
  @for $i from 1 through $columnAmount {
    .m-#{$i} {
      width: 100% / $columnAmount * $i;
    }
    .offset-m-#{$i}{
      margin-left: 100% / $columnAmount * $i;
    }
  }
}

/* Large Sized Devices and Wide Screen Desktop */
@media screen and (min-width : 1200px) {
  @for $i from 1 through $columnAmount {
    .l-#{$i} {
      width: 100% / $columnAmount * $i;
    }
    .offset-l-#{$i}{
      margin-left: 100% / $columnAmount * $i;
    }
  }
}
